@tailwind base;
@tailwind components;
@tailwind utilities;



.inputWrap {
    position: relative;

  }

  .inputClassInvalid {
    border: 1px solid #EF4444 !important;
  }

  .inputClassValid {
    border: 1px solid #22C55E !important;
  }
  
  .inputWrap input {
    background: none;
    font-size: 18px;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
  }
  
  .inputWrap label {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    left: 10px;
    top: 10px;
  
    transition: 300ms ease all;
  }
  
  input:focus {
    outline: none;
  }
  
  .inputWrap input:focus~label,
  .inputWrap input:valid~label {
    top: 10px;
    font-size: 12px;

  }

  .inputWrap textarea:focus~label,
  .inputWrap textarea:valid~label {
    top: 10px;
    font-size: 12px;

  }


  .inputWrap textarea {
    background: none;
    font-size: 18px;
    padding-top: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    outline: none;
  }
  